body{
  background-image: linear-gradient(to left top, #fdd46d, #ffc181, #ffb49d, #ffaeb8, #eeaeca);
  margin: 0;
  background-repeat: no-repeat;
}

.presentation-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
}

.presentation-div img {
  transition: transform 0.1s ease-in-out   ;
  height: 300px;

}


.drawing.active {
  transform: translateX(-50%) scale(2) ;
  position: absolute;
  z-index: 3;
  top:50%;
  left: 50%;
}

.blur-background {
  filter: blur(15px);
  transition: filter 0.3s ease-in-out;
}

.clear-image {
  filter: none !important;
  z-index:3;
}


