/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  width: 100%;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;

}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;

}

@font-face {
  font-family:  aurora;
  src: url('../font/AURORA-PRO.ttf');
}

@font-face {
  font-family:  basteleur;
  src: url(../font/Basteleur-Moonlight.ttf);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.upper-div {
  display: block;
  position: relative;
  width: 100%;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#header {
  padding-top: 50px;
}

.upper-div  p {
  margin:0;
  text-align: center;
}

h1{
  margin: 0;
  font-family: aurora, cursive;
  color: #FBFBFB;
  text-align:center;
  font-size:5.7rem;
}

.button-up {
  text-decoration: none;
  background-color: #EEAECAFF;
  border: 2px solid #e789b2;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: 300ms all linear;
  -webkit-transition: 300ms all linear;
  -moz-transition: 300ms all linear;
  -ms-transition: 300ms all linear;
  -o-transition: 300ms all linear;
}

.button-up:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-up a {
  text-decoration: 0;
  color:#FBFBFB;
}

hr {
  background-color:#FBFBFB;
  margin-left: 150px;
  margin-right: 150px;
}

.work-div {
  background-image: linear-gradient(to left top, #fdd46d, #ffc181, #ffb49d, #ffaeb8, #eeaeca);
  padding-bottom: 30px;
}

.work-div-glass {
  background: rgba(0, 0, 0, 0.3); /* Darker background */
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); /* Darker shadow */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /*border: 1px solid rgba(255, 255, 255, 0.3);*/
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.about-div {
  background-color: #A93F55;
  padding-bottom: 150px;
}

h2 {
  font-family: aurora, cursive;
  color: #FBFBFB;
  font-size: 4rem;
  margin: 0;
  padding: 20px 0 0 50px;
}

h3 {
  font-family: aurora, cursive;
  color: #FBFBFB;
  font-size: 2rem;
  margin: 15px;
  padding-bottom: 10px;
}

p {
  font-family: basteleur, serif;
  color: #FBFBFB;
}

.special-text{
  color:#A93F55;
  transition: 300ms all linear;
  -webkit-transition: 300ms all linear;
  -moz-transition: 300ms all linear;
  -ms-transition: 300ms all linear;
  -o-transition: 300ms all linear;
}

.special-text:hover{
  color: hotpink;
}

@keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}


.special-text-bis {
  transition: 1s;
  animation: rainbow 7s linear infinite;
}

.wave_1 {
  margin: 0;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' fill='%23A93F55' height='24'%3E%3Cdefs%3E%3Cpattern id='bg' patternUnits='userSpaceOnUse' width='130' height='24'%3E%3Cpath d='M0,12c32.5,0,32.5,12,65,12s32.5-12,65-12V0C97.5,0,92.9,12,65,12C32.5,12,20.7,0,0,0'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%' height='100%' fill='url(%23bg)'/%3E%3C/svg%3E");
  background-size: 100% 25px;
  background-repeat: no-repeat;
}

.social {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.social img {
  display: inline-block;
  vertical-align: middle;
  transition: filter 0.3s ease;
  transform: translateY(-50%);
}

.social img:hover {
  filter: sepia(100%) saturate(1500%) hue-rotate(270deg);
}

.bigger-text {
  font-size: 2rem;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.SlideDraw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text-about {
  padding: 0 0 25px 50px;
}

.text-presentation {
  padding-bottom: 100px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background for better visibility */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.work-img {
  height: 500px;
}

.passion-div {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  padding: 0 75px;
}

.passion-div article {
  background-color: #cc546d;
  padding: 0 20px 20px;
  border-radius: 10px;
  border: 1px solid #FBFBFB;
}

.passion-div h4 {
  font-family: 'basteleur', serif;
  color: #FBFBFB;
  font-size: 1.3rem;
}

.top-passion-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.top-passion-div svg {
  border-radius: 5px;
  background: rgb(169,63,85);
  background: radial-gradient(circle, rgba(169,63,85,1) 0%, rgba(169,63,85,1) 0%, rgba(79,0,0,1) 100%);
  border: 1px solid #FBFBFB;
  padding: 5px;
  height: 30px;
  width: 30px;
}






